* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    /*Definindo variáveis de cores*/

    /*TEMA ESCURO*/
    --fundo-escuro: #111827;
    --borda-escuro: #4B5563;
    --fundo-card-escuro: #1F2937;
    --paragrafo-escuro: #F3F4F6;

    --destaque-escuro: #22C55E;
    --destaque-hover-escuro: #16A34A;

    --texto-botao-escuro: white;

    /*TEMA CLARO*/
    /*placeholder*/
}

body {
    display: flex;

    justify-content: center;

    background-color: var(--fundo-escuro);
}

p {
    font-size: 42px;

    color: var(--paragrafo-escuro);

    height: 150px;

    margin: 20px 0;

}

hr {
    width: 100%;
    border: 1px solid var(--borda-escuro);
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    border: 1px solid var(--borda-escuro);
    border-radius: 10px;

    padding: 50px 25px;
    margin: 20px;

    width: 75vw;
    height: 60vh;

    background-color: var(--fundo-card-escuro);

    gap: 10px;
}

#nova-frase {
    padding: 10px 40px;

    border: none;
    border-radius: 4px;

    background: var(--destaque-escuro);
    color: var(--texto-botao-escuro);

    font-size: 22px;
    font-weight: bold;

    margin-right: auto;

    transition: transform 0.05s ease-in-out;
}

#nova-frase:hover {
    transform: scale(1.1);

    background-color: var(--destaque-hover-escuro);
}

.destaque {
    color: var(--destaque-escuro);

    font-size: 38px;
    font-weight: bold;  
}

/*OUTROS*/

.shadow {
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
}